numpy
jupyterlab==4.2.5
langchain-community==0.3.2
langchain-huggingface==0.1.0
langchainhub==0.1.21
faiss-cpu==1.9.0
pandas==2.2.3
langchain-ollama
langchain-groq
streamlit
watchdog # do we really need this?
requests
matplotlib # eda
seaborn # eda
missingno # eda
sentence-transformers